body{
	background-color: white;
	margin: 0;
}
.header{
	background-color: #0663bf;
	padding: 10px;
	font-family: sans-serif;
	font-weight: bold;
	margin-bottom: 50px;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	background-color: #84bcf3;
} 
textarea{
	width: 99%;
	resize: none;
	overflow: auto;
	margin-top: 20px;
}

.main{
	margin: 10px auto;
	width: 95%;
	max-width: 500px;
}
.btn{
	background-color: #4CAF50;
	display: block;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    word-wrap: break-word;;
    font-size: 16px;
    margin-top: 25px;
    cursor: pointer;	
    font-family: cursive;
}
.btn-nav{
	color: white;
	padding: 10px;
}
.btn-nav:hover{
	background-color: #0357aa;
}
.info{
	color: #8c8c8c;
	font-family: monospace;
	font-size: 1.2em;
	background-color: #f5f5f5;
	padding: 10px;
	text-align: center;
}
ul{
	text-align: left !important;
}
li{
	padding: 5px;
}