body{
	background-color: white;
	margin: 0;
}
.header{
	background-color: #0663bf;
	padding: 10px;
	font-family: sans-serif;
	font-weight: bold;
	position: fixed;
	width: 100%;
	top: 0;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	background-color: #84bcf3;
} 
textarea{
	width: 99%;
	height: 300px;
	resize: none;
	overflow: auto;
	border: 2px solid #8bb6e0;
}
.main{
	margin:70px auto 20px auto;
	width: 95%;
	max-width: 500px;
}

.btn{
	background-color: #4CAF50;
	display: block;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin-top: 25px;
    cursor: pointer;	
    font-family: cursive;
}
.btn-nav{
	color: white;
	padding: 10px;
}
.btn-nav:hover{
	background-color: #0357aa;
}
.info{
	color: #8c8c8c;
	font-family: monospace;
	background-color: #f5f5f5;
	padding: 10px;
	text-align: center;
	margin-top: 20px;
}

ul{
	text-align: left;
	font-size: 1.2em;
}
li{
	margin-bottom: 15px;
}
html{
	word-wrap: break-word;
}
input{
	color: #8c8c8c;
	border-radius: 4px;
    border: 1px solid #cdd2d4;
    font-size: 1.3em;
    padding: 5px;
}
input:hover{
	border-color: #b6bbbf;
}
.left{
	text-align: left;
}