#file-upload{
	display: none;
}
#file-choose{
	display: none;
}
#file-notif{
	background-color: #edeff0;
	color: black;
	font-family: monospace;
	display: none;
}
.custom-upload{
	display: inline-block;
	cursor: pointer;
}